<div class="navbar navbar-inverse navbar-fixed-top container">
    <div class="navbar-header">
        **<span class="glyphicon glyphicon-chevron-left backButton"></span>**
        <a class="navbar-brand">StudyNow</a>
        <section class="buttonset cbp-spmenu-open">
        <button type="button" class="btn btn-md" id="showRightPush">
          <span class="glyphicon glyphicon-tasks"></span>
        </button>
        </section>
    </div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3 class="cbp-spmenu-open" id="closeRightPush">MyName?</h3>
        <a href="/home">Home</a>
        <a href="/mygroups">My Groups</a>
        <a href="/course_setup">Course Setup</a>
        <a href="/logout">Logout</a>
    </nav>

</div>
