<!doctype html>

<html>
<head>
	<title>Study Buddies</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/course_setup.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="all" href="style.css">
    <link href="css/home.css" rel="stylesheet">
	
        
</head>

<body class="cbp-spmenu-push cbp-spmenu-push-toleft">
	<div class="navbar navbar-inverse navbar-fixed-top container">
      <div class="navbar-header">
          <a class="navbar-brand">StudyNow</a>
      <section class="buttonset cbp-spmenu-open">
              <!-- Class "cbp-spmenu-open" gets applied to  menu and "cbp-spmenu-push-toleft" or "cbp-spmenu- push-toright" to the body -->
          <button type="button" class="btn btn-md" id="showRightPush">
        <span class="glyphicon glyphicon-tasks"></span>
      </button>
        </section>
      </div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3 class="cbp-spmenu-open" id="closeRightPush">MyName?</h3>
        <a href="/home">Home</a>
        <a href="#">My Groups</a>
        <a href="/course_setup">Course Setup</a>
        <a href="/messages">Messages</a>
        <a href="#">Settings?</a>
        <a href="/logout">Logout</a>
    </nav>

  </div>
  <div class="main">
		<!-- add new course -->
		
  		<div class="col-sm-6">
			<form class="form-addcourse" role="form" method="get" action="/course_add">
        <div class="right-inner-addon ">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" class=".col-sm form-control" id="search" placeholder="Example: CS 147" name="name" required autofocus>
        </div>
      </form>
      </div>
    
    <!-- view current courses -->
    
    <div class="courselist">  
    {{#each courses}}
      <div class="row">
       
        <button type="button" class="btn btn-default btn-sm btn-block courseButton">
          <h4>{{classname}}</h4>
        </button>
        <button type="button" class="btn btn-default" id="delete{{classname}}" classname="{{classname}}">
          Delete
        </button>
      </div>
    {{/each}}
    </div>
    
	</div>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/hci-friends.js"></script>
  <script src="js/pushMenu.js"></script>
  <script src="js/course_events.js"></script>
</body>
</html>
