<!doctype html>

<html>
<head>
	<title>Study Buddies</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/course_setup.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="all" href="style.css">

    <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
        
</head>

<body>
	{{> navbar this}}

		<!-- add new course -->
		
  		<div class="col-sm-6">
			<form class="form-addcourse" role="form" method="get" action="/course_add">
        	
        	<input type="text" class=".col-sm form-control" id="search" placeholder="Example: CS 147" name="name" required autofocus>
        	<button class="btn btn-primary " id="add" type="submit">
           <span class="glyphicon glyphicon-search">
           </span> 
          </button>
      </form>
      </div>
    
    <!-- view current courses -->
    <div class="courselist">  
    {{#each courses}}
      <div class="row">
        <button type="button" class="btn btn-default btn-sm btn-block">
          <h4>{{name}}</h4>
        </button>
      </div>
    {{/each}}
    </div>
		
	</div>
  <script src="js/hci-friends.js"></script>
</body>
</html>
