<!doctype html>

<html>
<head>
	<title>Study Buddies</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="apple-mobile-web-app-capable" content="yes">
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="all" href="style.css">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/course_setup.css" rel="stylesheet">
        
</head>

<body class="cbp-spmenu-push cbp-spmenu-push-toleft">
	
  {{> navbar this}}
  
  <div class="container">
    <div class="main">
		<!-- add new course -->
		
  		<div class="col-sm-6">
			<form class="form-addcourse" id="add_course" role="form" method="get" action="/course_add">
        <div class="right-inner-addon ">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" class=".col-sm form-control" id="search" placeholder="Example: CS 147" name="name" required autofocus>
        </div>
      </form>
      </div>
    
    <!-- view current courses -->
    <hr>
    
    {{#each courses}}
  
        <div class="btn btn-default btn-sm btn-block courseButton">
          <h4 id="setup_classname">{{classname}}</h4>
          <button type="button" class="btn btn-default btn-md delete_button" id="delete{{classname}}" classname="{{classname}}">
          <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
           
    {{/each}}
    </div>
  </div>
    
	</div>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/hci-friends.js"></script>
  <script src="js/pushMenu.js"></script>
  <script src="js/course_events.js"></script>
</body>
</html>
