<!doctype html>

<html>
<head>
	<title>Study Buddies</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top container">
    <div class="navbar-header">
      <a class="navbar-brand">StudyNow</a>
    </div>
  </div>
  
    <!-- sign in -->
	<div class="row" >
    <div class="col-md-4">
      <div class="wrap">
        <p class="form-title">Sign In</p>
		    <form class="login" role="form" method="get" action="/login">
          <input type="text" name="email" placeholder="Email" required autofocus/>
          <input type="password" name="password" placeholder="Password" required/>
          <input type="submit" value="Sign In" class="btn btn-success btn-sm"/>
        </form>
        <!--<h3>{{error}}</h3>-->
        <form class="register" action="/sign_up">
        <input type="submit" value="Register" class="btn  btn-sm"/>
          <!--<a href="/sign_up">Register</a>-->
        </form formaction = "/sign_up">
        <br>
        {{#if error}}
          <div class="alert alert-warning error_box">Invalid username and password</div>
        {{/if}}
    	</div>
		</div>
  </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48461831-2', 'study-buddies.herokuapp.com');
  ga('send', 'pageview');

</script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/hci-friends.js"></script>
</body>
</html>
