<!doctype html>

<html>
<head>
	<title>Messages</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
     <link href="css/general.css" rel="stylesheet">

    <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
      
</head>

<body>
  {{> navbar this}}

	<div class="container">
		<div class="message_list">
      <input type="search " class="form-control" placeholder="Search">
      <br>
      <table class="table table-striped">
        <tr> 
          <td>Matt (MATH 51)</td>
          <td>Hey, do you wanna check pset2?</td>
          <td>10:15 pm</td> 
        </tr>
        <tr> 
          <td>Tom (CHEM 31A)</td> 
          <td>Would you like to go over the practice test?</td>
          <td>8:32 pm</td>
        </tr>
        <tr> 
          <td>Brandon (PHYS 41)</td> 
          <td>Sounds good!</td>
          <td>6:00 pm</td>
        </tr>
      </table>
		
		</div>
	</div>
</body>
</html>
