<!doctype html>

<html>
<head>
	<title>Post Group</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <link href="bootstrap-datepicker/css/datepicker.css" rel="stylesheet">
    <link href="timepicker/jquery.timepicker.css" rel="stylesheet">
    <link href="css/post_group.css" rel="stylesheet">

</head>

<body>
	
	{{> navbar this}}
	
	<div class="container">
		<div class="post_group">
		<form class="form-signin" role="form" method="get" action="/post_group_add">
			<h2 class="form-signin-heading">Group Info</h2>
			<input type="hidden" name="classname" value="{{title}}">
			<input type="text" class="form-control" id="descript" placeholder="Description" name="groupname" required autofocus>
          
			<input type="text" class="form-control date start" placeholder="Start Date" name="start_date" required autofocus>

			<input type="text" class="form-control time start" placeholder="Start Time" name="start_time" required autofocus>

			<input type="text" class="form-control date end" placeholder="End Date" name="end_date" required autofocus>

			<input type="text" class="form-control time end" placeholder="End Time" name="end_time" required autofocus>

			<input type="text" class="form-control" placeholder="Location" name="location" required autofocus>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
    	</form>
		</div>

	</div>

	<script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="timepicker/jquery.timepicker.js"></script>
	<script type="text/javascript" src="datepicker/jquery.datepair.js"></script>

	<script>
	    // initialize input widgets first
	    $('.form-signin .time').timepicker({
	        'showDuration': true,
	        'timeFormat': 'g:ia',
	        'disableTouchKeyboard':true
	    });

	    $('.form-signin .date').datepicker({
	        'format': 'm/d/yyyy',
	        'autoclose': true
	    });

	    // initialize datepair
	    $('.form-signin').datepair();
	    $('.ui-timepicker-wrapper').css('width', $('#descript').outerWidth()+"px");
	</script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	<script src="js/pushMenu.js"></script>

</body>
</html>
