<!doctype html>

<html>
<head>
	<title>Post Group</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">

    <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>     
</head>

<body>
	<div class="container">
		{{> navbar this}}
		<div class="post_group">
		<form class="form-signin" role="form" method="get" action="/post_group_add">
          <h2 class="form-signin-heading">Group Info</h2>
          <input type="hidden" name="classname" value="{{title}}">
          <input type="text" class="form-control" placeholder="Description" name="groupname" required autofocus>
          <!--
          <input type="datetime" class="form-control" placeholder="Start Time" required autofocus>

          <input type="datetime" class="form-control" placeholder="End Time" required autofocus>
          !-->
          <input type="text" class="form-control" placeholder="Location" name="location" required autofocus>
      <!--
      <div class="dropdown">
          <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">Dropdown <span class="caret"></span>
          </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Location1</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Location2</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Loc3</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
      !-->
          <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
    	</form>
		</div>

	</div>
</body>
</html>
