<!doctype html>

<html>
<head>
	<title>Study Buddies</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link href="css/general.css" rel="stylesheet">
  <link href="css/map.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">
  <link href="css/post_group.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->      

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      .spacer{
        position:static;
        height:45px;
      }
      #map-canvas { height: 100%; width: 100% }
    </style>


    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          zoom: 15
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);
            var currMarker =  new google.maps.Marker({
              position: pos,
              map: map,
              title: "Current Position"
            });

            var currCircle = new google.maps.Circle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.6,
              strokeWeight: 1,
              fillColor: '#FF0000',
              fillOpacity: 0.2,
              map: map,
              center: pos,
              radius: 500
            });

            map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA0pK32BfMyivCI7bxhfjbpFY90nNMcHXU&v=3.exp&sensor=false&' +
            'callback=initialize';
        document.body.appendChild(script);
      }
      window.onload = loadScript;
      
    </script>

</head>

<body class="cbp-spmenu-push cbp-spmenu-push-toleft">

  {{> navbar this}}

  <div class="spacer"> </div>
  <div id="map-canvas"/> 
    <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
  <script src="js/mapEvents.js"></script>
  <script src="js/pushMenu.js"></script>
</body>
</html>
