div{
	/*font-variant: small-caps;*/
	text-overflow:ellipsis;
}

p{
	/*font-variant: small-caps;*/
	text-overflow:ellipsis;
}

h1, h2, h3, h4, h5 {
	color: #ffffff;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

body{
	background-image:url('/blur/7.jpg');
	background-color:#A6BACA;
	padding-top: 70px;
	vertical-align: middle;
}
